<article>
  <header>
    <h1>Clubs</h1>
  </header>

  <table *ngIf="clubs">
    <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let club of clubs">
      <td>{{ club.name }}</td>
      <td>{{ club.city }}</td>
      <td>
        <button [routerLink]="['.', club.id]">Details</button>
        <button [routerLink]="['.', club.id, 'edit']">Edit</button>
        <button (click)="deleteClub(club.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div >
    <button routerLink="./add" >Add New Club</button>
  </div>
</article>
