<div *ngIf="club">
  <h1>Edit Club</h1>

  <form [formGroup]="clubForm" (ngSubmit)="updateClub()">
    <div>
      <div>
        <label for="id">ID:</label>
      </div>
      <div>
        <input type="text" id="id" formControlName="id" readonly/>
      </div>
    </div>

    <div>
      <div>
        <label for="id">NAME:</label>
      </div>
      <div>
        <input type="text" id="name" formControlName="name"/>
      </div>
    </div>

    <div>
      <div>
        <label for="id">CITY:</label>
      </div>
      <div>
        <input type="text" id="city" formControlName="city"/>
      </div>
    </div>

    <div>
      <div>
        <button type="submit">SAVE</button>
      </div>
    </div>

  </form>
</div>
