<div *ngIf="club">
  <h1>Club Details</h1>

  <div>
    <span>ID: {{ club.id }}</span>
    <span></span>
  </div>

  <div>
    <span>NAME: {{ club.name }}</span>
  </div>

  <div>
    <span>CITY: {{ club.city }}</span>
  </div>

  <div>
    <button [routerLink]="['./edit']">Edit</button>
  </div>

</div>

<div>
  <h1>Players</h1>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth Date</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.name }}</td>
      <td>{{ player.surname }}</td>
      <td>{{ player.birthDate }}</td>
      <button (click)="deletePlayerById(player.id)">Delete</button>
    </tr>
    </tbody>
  </table>

</div>
