<div class="row">
  <div class="col-xs-12">
    <h1>Clubs</h1>

    <ul class="list-group">
      <li *ngFor="let clubItem of clubs"
          class="list-group-item">
        <div class="row d-flex align-items-center justify-content-between" style="width: 40vh">
          <div class="col-xs-8">
            <app-club-item [club]="clubItem"></app-club-item>
          </div>
          <div class="col-xs-2 text-right">
            <button class="btn btn-info" (click)="onEdit(clubItem.id)">Edit</button> |
            <button class="btn btn-danger" (click)="onDelete(clubItem.id)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

